# Node.js
node_modules/
.env
*.log
pm-debug.log*
yarn-debug.log*
yarn-error.log*
# dependency directories
jspm_packages/
web_modules/
# optional editor directories
.idea/
.vscode/
.DS_Store

# TypeScript
*.tsbuildinfo

# Jest coverage
coverage/

# Temporary files
/tmp